.details {
    font-size: 1rem;
}

.plug-map-container {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1rem;
    font-size: 0.8rem;
    align-items: center;
    flex-direction: column;
}

.plug-container {
    padding: 0.25rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    margin-bottom: 2em;
    overflow-x: auto;
    width: 100%;
}

.search-results h3 {
    font-size: 1.5rem;
}

.plug-map-container,
.plug-container {
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(40, 40, 40, 0.6);
}

.details img {
    margin-left: 1rem;
    cursor: pointer;
}

.nearby-containter {
    align-items: center;
    margin-bottom: 2em;
    overflow-x: auto;
    width: 96%;
}

.nearby-food,
.nearby-entertainment,
.nearby-stores {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    width: fit-content;
    padding: 1em;
    border-radius: 6px;
    border: solid 2px black;
}

.business-container {
    display: flex;
    column-gap: 1em;
    width: fit-content;
    padding: 1em;
    border-radius: 6px;
    overflow-x: auto;
    width: 96vw;
}

.business-details-container {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    width: 200px;
    padding: 1em;
    border-radius: 6px;
    border: solid 2px black;
}

.google-map {
    width: 100%;
}



@media only screen and (min-width: 768px) {
    .plug-map-container {
        flex-direction: row;
    }

    .plug-container {
        width: 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    .plug-map-container {
        flex-direction: row;
    }

    .plug-container {
        flex-direction: column;
        width: 20rem;
    }
}
