.details {
    font-size: 1rem;
}

.plug-map-container {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1rem;
    font-size: 0.8rem;
    align-items: center;
}

.plug-container {
    width: 20rem;
    height: 10rem;
    padding: .5rem;
    border-radius: 1em;
    font-size: 1rem;
}

.search-results h3 {
    font-size: 1.5rem;
}

.plug-map-container,
.plug-container {
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(40, 40, 40, 0.6);
}



