.App,
.app-container {
    display: flex;
}

.App {
    width: 100%;
    min-height: 100vh;
}

.app-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: width 0.5s;
}
